:root {
  --primary: #11998e;
  --gray: #9b9b9b;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1REM = 10px */
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Special Elite", cursive, sans-serif;
  font-size: 1.6rem;
  background: #4fafff;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rebeccapurple white;
}

/* barra de desplasamiento */
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: rebeccapurple;
  border-radius: 20px;
  border: 3px solid with;
}
/* ------------------------------ */

/* Globales */
h1,
h2,
h3 {
  font-family: "Special Elite", cursive, sans-serif;
  text-align: center;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1rem;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  max-width: 100%;
  display: block;
}
.contenedor {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
input{
  border: none;
  outline: none;
}
.form__field{
  border-bottom: 1px solid #9b9b9b;
}
p{
  text-align: center;
  color: rebeccapurple;
  margin: 0;
}

.blur{
  filter:blur(20px)
  
}
.icon{
  cursor: pointer;
}